@import '/_breakpoints.scss';

$base-color: #212121;
$dark-gray: #424242;
$blue-color: #0d47a1;
$white-color: #fff;
$light-gray: #8192aa;
$base-font: 14px;
$margin-none: 0;
$full-width: 100%;
$box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

@mixin basic-font {
  font-family: 'Mada', sans-serif;
}

@mixin flex {
  display: flex;
}

@mixin text-center {
  text-align: center;
}

@mixin basic_ul_style {
  padding: 0;
  list-style: none;
  margin: 0;
}

@mixin btn {
  background-color: $blue-color;
  padding: 4px 8px 3px;
  color: $white-color;
  font-weight: 500;
  line-height: 16px;
  border-radius: 2px;
  text-transform: uppercase;
}

@mixin home-left-box {
  max-width: 246px;
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: $box-shadow;
  padding: 17px;
  position: relative;
  margin: 0 0 14px 0;
}

@mixin small_box_heading {
  color: $light-gray;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
}

ul {
  @include basic_ul_style;
}

@mixin background-set {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@mixin small_bold_heading {
  font-size: 16px;
  font-weight: bold;
  line-height: 24px;
  color: $dark-gray;
}

body {
  background-color: darken($white-color, 3.5%);
  font-size: $base-font;
  color: $base-color;
  @include basic-font;
}

a {
  text-decoration: none;
  color: $blue-color;
  outline: none;
}

.container {
  width: 1170px;
  margin: auto;
  @include flex;
  padding: 0 15px;

  @media (max-width: $tabletLandscapeDown) {
    width: $tabletPortraitDown;
  }

  @media (max-width: $tabletPortraitDown) {
    width: 768px;
  }

  @media (max-width: $phoneLandscapeDown) {
    width: $full-width;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: $margin-none;
}

p,
label {
  @include basic-font;
}

.btn {
  @include btn;
}

.header_navigation_row {
  @include flex;
  width: $full-width;
  height: 54px;
  justify-content: space-between;
}

.main_content_section {
  margin: 15px 0 0;
}

.small_bold_heading {
  @include small_bold_heading;
}